html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, sub, var,
dl, dd, dt, ul, ol, li,
fieldset, form, table, caption, tbody,
tfoot, thead, tr, th, td, header, section,
footer, article, details {
padding: 0; margin: 0; border: 0; outline: 0;
font-family: inherit; font-style: inherit; font-size:
100%; font-weight: inherit; vertical-align: baseline;
}

.overall {
  border-style: solid;
  border-width: 5px;
  border-color: #BFA18F;
  margin: 50px;
  height: 1000px;
  width: auto;
  background-color: #BFA18F;
  position:fixed;
}
.topposter {
font-family: Arial;
font-size: 25px;
border-style: solid;
border-color: brown;
margin: 12px;
text-align: center;
position: relative;
margin-left: 160px;

}
.titleposter {
font-family: Arial Bold;
font-size: 120px;
margin: 12px;
text-align: center;
position: sticky;
word-wrap: break-word;

}
.bottomposter {
font-family: Arial;
font-size: 20px;
margin: 12px;
text-align: center;
position: sticky;
margin-left: 380px;
position: sticky;
word-wrap: inherit;
}
.bottomposter2 {
font-family: Arial;
font-size: 10px;
margin: 12px;
text-align: center;
margin-right: 140px;
position: absolute;
margin-left: 380px;
position: sticky;
word-wrap: inherit;

}
@media screen and (min-width: 70em) {
    main {
        display: grid;
        grid-template-columns: 3fr 1fr;
        column-gap: 20px;
    }
